wheel
tqdm
lightning
black
ruff
hydra-core
jaxtyping
beartype
wandb
einops
colorama
scikit-image
colorspacious
matplotlib
moviepy
imageio
timm
dacite
lpips
e3nn
plyfile
tabulate
svg.py
evo
opencv-python
kornia
git+https://github.com/leo-frank/diff-gaussian-rasterization-depth
git+https://github.com/nerfstudio-project/gsplat.git
git+https://github.com/rahul-goel/fused-ssim@1272e21a282342e89537159e4bad508b19b34157